body {
    background-color: #fff;
}

#wrap {
    width: 100%;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 2px solid #7494EA;
}

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.menu {
    width: 590px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    display: inline-block;
}

.member a {
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    line-height: 28px;
    text-align: center;
    color: #fff;
}

.signin_btn {
    background-color: #5066B0;
    border: 1px solid #7291EA;
}

.signup_btn {
    background-color: #96B1FF;
    border: 1px solid #7291EA;
}

/* //header */

/* main */
#main {
    width: 100%;
    min-height: 800px;
    /* background: #eee; */
}

#section {
    padding-top: 88px;
    padding-bottom: 88px;
}

/* signup */
.signup,
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.signup__step {
    margin-top: 60px;
    margin-bottom: 30px;
}

.signup__step span {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #5066B0;
    background-color: #fff;
    position: relative;
}

.signup__step span strong {
    text-align: center;
    line-height: 28px;
}

.signup__step span:nth-child(2),
.signup__step span:nth-child(3) {
    margin-left: 10px;
}

.signup__step span:nth-child(2)::before,
.signup__step span:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    top: 50%;
    left: -15px;
    height: 1px;
    border-top: 1px solid #5066B0;
}

.signup__step span.on,
.signup__step span.finish {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #5066B0;
    background-color: #5066B0;
}

.signup__step span.on strong {
    color: #fff;
}

.signup__step span.finish img {
    width: 24px;
    height: 24px;
    vertical-align: middle;

}

.signup__box {
    border: 1px solid #5066B0;
    border-radius: 10px;
    width: 552px;
    text-align: left;
    padding: 30px;
    margin-bottom: 30px;
}

.signup__box form .sAll {
    margin-bottom: 30px;
}

.signup__box form label {
    font-size: 20px;
}

.signup__box form a img {
    width: 20px;
    height: 20px;
}

.signup__box form label.signup__agreeAll {
    font-weight: 700;
}

.signup__box form .signup__agree1__text {
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 492px;
    height: 72px;
    border: 1px solid #C9D7FF;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.signup__box form .signup__agree1__text::-webkit-scrollbar {
    display: none;
}

.signup__box.info {
    padding: 30px 60px;
}

.signup__box.info label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.signup__box.info input {
    padding: 0 20px;
    width: 100%;
    height: 45px;
    border: 1px solid #5066B0;
    border-radius: 10px;
    font-size: 20px;
}

.signup__box.info input.check {
    width: 68%;
}

.signup__box.info a.test {
    display: inline-block;
    width: 28%;
    height: 45px;
    border-radius: 10px;
    background: #5066B0;
    color: #fff;
    vertical-align: top;
    text-align: center;
    line-height: 45px;
}

.signup__box.info p.comment {
    color: red;
    min-height: 30px;
}

.signup__box.info select {
    padding: 0 20px;
    width: 100%;
    height: 45px;
    border: 1px solid #5066B0;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.signup__btn__wrap a {
    display: inline-block;
}

.signup__btn {
    width: 320px;
    height: 53px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}

.signup__btn.next {
    background-color: #5066B0;
    color: #fff;
}

.signup__btn.prev {
    background-color: #E5E5E5;
    color: #000;
}

.signup__ex {
    font-size: 20px;
    width: 334px;
    word-break: keep-all;
    margin-bottom: 30px;
}

.signup__ex .top {
    margin-bottom: 20px;
}

.signup__ex .finish {
    margin: 80px 0;
}

.joinF__btn {
    width: 400px;
    height: 85px;
    border-radius: 10px;
    color: #fff;
    line-height: 85px;
    font-size: 30px;
}

.joinF__btn.top {
    background-color: #5066B0;
    margin-bottom: 30px;
}

.joinF__btn.bottom {
    background-color: #8DA9FA;
}

/* //signup */

/* login, findID, findPW */
.login__box {
    border: 1px solid #5066B0;
    border-radius: 10px;
    width: 552px;
    padding: 88px 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__box input {
    text-align: left;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #C9D7FF;
    font-size: 20px;
}

.login__box input::placeholder {
    color: #fff;
    text-align: left;
}

.login__box .btn {
    margin-top: 10px;
    width: 400px;
    height: 85px;
    background-color: #8DA9FA;
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.login__box .wrap {
    margin-top: 20px;
}

/* //login */

/* //main */

/* footer */
#footer {
    width: 100%;
    height: 330px;
    background-color: #e7edff;
}

.footer__top {
    width: 100%;
    border-bottom: 2px solid #7494EA;
}

.footer__top__wrap {
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top__wrap .logo {
    margin-right: 60px;
}

.footer__top__wrap p {
    font-size: 12px;
}

.footer__top__wrap span {
    font-size: 17px;
    color: #5066B0;
    display: inline-block;
    margin-bottom: 10px;
}

.footer__top__wrap .contect {
    text-align: center;
}

.footer__top__wrap .contect span {
    margin-bottom: 15px;
}

.footer__top__wrap .contect div {
    display: flex;
    justify-content: center;
}

.footer__top__wrap .contect div:last-child {
    margin-top: 10px;
}

.footer__top__wrap .contect img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.footer__top__wrap .contect p {
    line-height: 20px;
}

.footer__top__wrap .github {
    text-align: center;
}

.footer__top__wrap .github img {
    width: 30px;
    height: 30px;
}

.footer__top__wrap .github span {
    line-height: 30px;
}

.footer__top__wrap .github p {
    margin-bottom: 10px;
}

.footer__top__wrap .github p:last-child {
    margin-bottom: 0;
}

.footer__bottom {
    margin-top: 16px;
    text-align: center;
    font-size: 10px;
}

.footer__bottom span {
    padding: 0 5px;
    color: #5066B0;
}

/* board */
.section__title {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #56689D;
    font-size: 30px;
}

.board__search fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.board__search .search-form {
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    width: 500px;
    height: 45px;
    margin-right: 5px;
    margin-bottom: 50px;
    padding: 0 10px;
}

.board__search .search-btn {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.boardWrite__btn {
    display: flex;
    justify-content: flex-end;
}

.write-btn {
    padding: 10px 15px;
    background: #5066B0;
    color: #fff;
    font-size: 14px;
    margin-bottom: -1px;
}

.write-btn:hover {
    background: #425592;
}

.board__search .search-btn.black {
    background-color: #5066B0;
    color: #fff;
    font-size: 14px;
    border-color: #000;
    vertical-align: -5px;
    padding: 6px 20px;
}

.board__search .result {
    text-align: left;
    padding-bottom: 10px;
}

.board__pages {
    margin-top: 50px;
    margin-bottom: 50px;
}

.board__pages ul {
    display: flex;
    justify-content: center;
}

.board__pages ul li a {
    display: block;
    border: 1px solid #eee;
    padding: 14px 10px;
    font-size: 14px;
    margin-left: -1px;
}

.board__pages ul li.active a {
    background: #5066B0;
    color: #fff;
}

.board__table table {
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.board__table table th {
    background-color: #F2F5FF;
    font-weight: 500;
}

.board__table table th,
.board__table table td {
    border-bottom: 1px solid #000;
    padding: 20px 0;
    font-size: 14px;
}

.board__table table td {
    vertical-align: top;
}

.board__table table.hover tr {
    transition: all 0.3s;
    cursor: pointer;
}

.board__table table.hover tr:hover {
    background-color: #e9eeff;
}

.board__table table .left {
    text-align: left;
    padding-left: 20px;
}

.board__table table .height {
    height: 400px;
    line-height: 1.6;
}

.board__btn {
    float: right;
    margin-top: 20px;

}

.board__btn a,
.board__btn button {
    background: #5066B0;
    padding: 9px 20px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.board__modify {
    text-align: left;
}

.board__modify label {
    display: block;
    margin-bottom: 5px;
}

.board__modify input {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.board__modify textarea {
    width: 100%;
    background: #ededed;
    border: 0;
    padding: 20px;
    margin-bottom: 20px;
    resize: none;
    height: 400px;
    border-radius: 5px;
    line-height: 1.6;
}

/* boardR */
.boardR__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.boardR__head .boardR__title {
    text-align: left;
}

.boardR__head .board__search fieldset{
    margin-bottom: 0;
}

.boardR__head .board__search .search-form{
    margin-bottom: 0 !important;
}

.review__popular {
    width: 100%;
    background: #f2f6ff;
    padding-top: 30px;
    margin-bottom: 50px;
}

.popular__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 2px solid #ededed;
}

.review__cont {
    width: 380px;
    height: 530px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
    margin: 30px 0;
    transition: box-shadow 0.5s;
}

.review__cont:hover {
    border-radius: 12px;
    box-shadow: 5px 5px 5px #D6D6D6;
}

.review__cont .img {
    width: 100%;
    height: 300px;
    /* background-color: #A9E0FF; */
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 23px;
}

.review__cont .author {
    padding: 5px;
    color: #939db2;
    font-size: 15px;
    margin-bottom: 10px;
}

.review__cont .title {
    padding: 5px;
    width: 100%;
    height: 22px;
    font-size: 20px;
    font-weight: 700;
}

.review__cont:hover .title {
    color: #56689D;
}

.review__cont .cont {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    margin-top: 20px;
    width: 100%;
    height: 54px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #7a7a7a;
}

.review__cont .cont__footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.review__cont .date span{
    font-size: 12px;
    font-weight: 500;
    color: #474747;
    vertical-align: middle;
}

.review__cont .like img {
    vertical-align: middle;
    margin-right: 10px;
}

.review__cont .like .like__span {
    display: inline-block;
    vertical-align: middle;
}

/* boardReview */
.board__inner {
    min-height: 800px;
}

.boardRcont__wrap {
    min-height: 500px;
}

.boardRcont__wrap .title {
    margin-top: 60px;
    text-align: left;
    font-size: 50px;
}

.boardRcont__wrap .info {
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 30px;
}

.boardRcont__wrap .info strong {
    font-weight: 400;
}

.boardRcont__wrap .info span {
    font-weight: 700;
    margin: 0 10px;
}

.boardRcont__wrap .cont {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #56689D;
    min-height: 500px;
    padding: 50px 50px 200px 50px;
    align-items: center;
}

.boardRcont__wrap .cont .imgCont {
    max-width: 500px;
    margin-bottom: 70px;
}

.boardRcont__wrap .cont p {
    width: 100%;
    text-align: left;
    line-height: 1.6;
}

.boardRcont__wrap .cont > span {
    position: absolute;
    bottom: 63px;
    left: 630px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
/* //boardR */

/* main */
.section__title.main {
    font-size: 40px;
}
.main__header {
    height: 500px;
}
.img_type {
    width: 90%;
    height: 300px;
    border: 3px solid #858DA8;
    border-radius: 10px;
    margin: 50px 5% 0;
}

.img_type iframe {
    margin: 20px;
}

 .slider {
    position: relative;
    white-space: nowrap;
}

.slider-arrow a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    height: 56px;
    background: #ccc;
    background: url(../img/bg-svg.svg);
}
.slider-arrow .left{
    left: 10px;
    background-position: 0 -50px;
}
.slider-arrow .right {
    right: 10px;
    background-position: -23px -50px;
}
.slider-dot {
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    
}
.slider-dot a {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* background: url(../img/bg-svg.svg); */
    margin: 2px;
}
.main__board__search fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.main__board__search .search-form {
    border: 3px solid #5066B0;
    border-radius: 5px;
    width: 1000px;
    height: 60px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.main__board__search .search-btn {
    /* height: 60px;
    width: 60px; */
    background: #fff;
    cursor: pointer;
}
/* notice__inner */
.notice__inner {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 100px;
}
.notice__inner .notice {
    width: 32%;
    height: 550px;
    position: relative;
    border: 2px solid #a5a5a5;
    border-radius: 30px;
}

.main__cont__title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(86, 104, 157);
}
.notice__inner .notice h4 {
    border-bottom: 2px solid #586794;
    color: #56689D;
    font-size: 24px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.notice__inner .notice li {
    height: 70px;
    padding: 10px 16px 10px 16px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}       
.notice__inner .notice li img {
    float: right;
    width: 50px;
    height: 50px;
} 
.notice__inner .notice li div {
    display: flex; 
    flex-direction: column;
}
.notice__inner .notice li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    padding-bottom: 3px;
    color: #425592;
}
.notice__inner .notice li a:hover {
    text-decoration: underline;
}
.notice__inner .notice li span {
    /* text-align: right; */
    font-size: 14px;
    color: #424141; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.notice__inner .notice .more {
    background: #96B1FF;
    color: #353e58;
    padding: 15px 100px;
    position: absolute;
    right: 18%;
    bottom: 5%;
    border-radius: 30px;
}
.notice__inner .notice .more:hover {
    background: #89a1e9;
}
@media (max-width: 900px){
    .notice__inner {
        flex-direction: column;
    }
    .notice__inner .notice {
        width: 100%;
        margin-bottom: 50px;
    }
}

/* mypage */
.mypage__wrap {
    width: 1200px;
    margin: 88px auto;
}
.mypage__wrap h3 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.mypage__info {
    width: 100%;
    border: 1px solid #5066B0;
    border-radius: 10px;
    padding: 50px 30px;
}
.mypage__info .title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    display: inline-block;
}
.mypage__info .btn {
    font-size: 14px;
    float: right;
    margin-top: 15px;
    margin-right: 5px;
    color: #555;
    position: relative;
}
.mypage__info .btn2 {
    margin-right: 25px;
}
.mypage__info .btn::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: -18px;
    top: 0;
    background-image: url(../img/modify.svg)
}
.mypage__info .btn2::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: -18px;
    top: 0;
    background-image: url(../img/analyze.svg)
}
.mypage__info .box:hover {
    box-shadow: 0 0 0 4px #96B1FF;
}
.mypage__member {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.mypage__member .box {
    width: 550px;
    height: 50px;
    background: #7086C5;
    border-radius: 10px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}
.mypage__member .box.memberBox {
    height: 400px;
    padding: 0;
    position: relative;
}
.mypage__member .memberBox .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #96B1FF;
    overflow: hidden;
}
.mypage__member .memberBox .img img {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mypage__member .memberBox .text {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    padding: 20px;
}
.mypage__custom {
    margin-bottom: 50px;
}
.mypage__custom .boxwrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.mypage__custom .boxwrap .box {
    width: 200px;
    height: 130px;
    background: #7086C5;
    border-radius: 10px;
    position: relative;
}
.mypage__custom .boxwrap .box1 {background: #9BB5FF;}
.mypage__custom .boxwrap .box2 {background: #7494EA;}
.mypage__custom .boxwrap .box3 {background: #5977CE;}
.mypage__custom .boxwrap .box4 {background: #96A1C8;}
.mypage__custom .boxwrap .box5 {background: #8391BE;}
.mypage__custom .longbox .cate,
.mypage__custom .boxwrap .box .cate {
    font-size: 15px;
    color: #E4EBFF;
    position: absolute;
    top: 10px;
    left: 20px;
}
.mypage__custom .longbox .doc,
.mypage__custom .boxwrap .box .doc {
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.mypage__custom .longbox {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background: #7086C5;
    position: relative;
}
.mypage__activity {
    display: flex;
    justify-content: space-between;
}
.mypage__activity .box {
    width: 550px;
    background: #7086C5;
    border-radius: 10px;
    padding: 20px;
}
.mypage__activity .title {
    font-size: 24px;
    color: #fff;
    width: 10%;
    white-space: nowrap;
}
.mypage__activity .table {
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.mypage__activity .table thead tr {
    height: 20px;
    border-bottom: 1px solid #D5DBEE;
}
.mypage__activity .table tbody tr {
    height: 30px;
    border-bottom: 1px solid #8D9ED1;
}
.mypage__activity .table tbody tr:hover {
    background: #96B1FF;
}
.mypage__activity .table tbody tr .tac {
    text-align: center;
}
.mypage__activity .table tbody tr .pl10 {
    padding-left: 10px;
}
.mypage__activity .table thead tr .br,
.mypage__activity .table tbody tr .br {
    border-right: 1px solid #D5DBEE;
}
.mypage__info .boxL {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.mypage__info .boxL .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #96B1FF;
    overflow: hidden;
}
.mypage__info .boxL .img img {
    width: 300px;
}
.mypage__info .info {
    background: #E7EDFF;
}
.mypage__info .signup__box {
    margin: 0 auto;
}
.mypage__info input,
.mypage__info select {
    margin-bottom: 10px !important;
}
.mypage__info label {
    margin-bottom: 5px !important;
}
.mypage__info .mypage__btn {
    padding: 0 20px;
    width: 100%;
    height: 45px;
    border: 1px solid #5066B0;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
    background: #5066B0;
    color: #fff;
    cursor: pointer;
}
.mypage__info .file {
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #5066B0;
    border-radius: 10px;
    font-size: 20px;
    background: #5066B0;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px !important;
}
.mypage__info .mypage__btn:hover,
.mypage__info .file:hover {
    background: #fff;
    color: #5066B0;
    box-shadow: 0 0 0 2px #5066B0;
}